@import 'vars';

.service{
    background-color: $blue-service;
    &__in{
        display: flex;
    }
    &__item{
        color: $white;
        padding: 40px 30px;
        i{
            font-size: 5em;
        }
        &:nth-child(2){
            background-color: $blue-link;
        }
    }
    &__title{
            font-size: 26px;
            font-weight: 500;
            color: $white;
    }
    &__desc{
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            color: $white;
            margin-top: 10px;
            margin-bottom: 26px;
    }

    &__service-item{
        
    }
}