$top-line-color:#F5FBFF;
$white:#fff;

$blue-button:#009DFF;
$blue-link:#5DB2FF;
$blue-service:#83C4FF;

$gray-area:#F5FBFF;
$icon-color:#C7C7C7;
$menu-link-color:#727272;
$text-black:#1F1F1F;
$expert-text:#919191;