@import 'vars';

.welcom{
    display: flex;
    padding: 120px 0 220px 0;
    justify-content: s;
    &__left-side {
        position: relative;
    }
    &__right-side {
        padding-left: 200px;
    }
    &__thumb2 {
        position: absolute;
        top: 150px;
        left: 150px;
    }
    &__sub-title {
        font-size: 18px;
        font-weight: 400;
        color: $text-black;
        margin-bottom: 40px;
        position: relative;
        z-index: 9;
        padding-bottom: 9px;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 2px;
            width: 50px;
            background: $blue-link;
        }
    }
    &__title {
        font-weight: 500;
        font-size: 36px;
        margin-bottom: 10px;
    }
    &__desc {
        font-size: 16px;
        color: $menu-link-color;
        line-height: 28px;
    }
    &__item {
        ul{
            margin-bottom: 40px;
            margin-top: 25px;
            li{
                color: $menu-link-color;
                font-size: 16px;
                line-height: 28px;
                i{
                    margin-right: 10px;
                    color: $blue-link;
                }
            }
        }
    }     
}